packaging_format = 2

id = "minecraft"
name = "Minecraft"
description.en = "Three-dimensional sandbox construction game"
description.fr = "Jeu de construction de type \"bac à sable\" en trois dimensions"

version = "1.21.4~ynh2"

maintainers = []

[upstream]
license = "non-free"
website = "https://www.minecraft.net/"
admindoc = "https://minecraft.fandom.com/wiki/Tutorials/Setting_up_a_server"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = "not_relevant"

sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.server]
    ask.en = "Select your server"
    ask.fr = "Choisir votre serveur"
    type = "select"
    choices = ["vanilla", "paper"]
    default = "vanilla"

    [install.ram]
    ask.en = "Set the memory limit for the server. Convert the number to mebibytes (binary MB): for example, 2GB = 2048, 4GB = 4096..."
    ask.fr = "Définir la mémoire du serveur ? Convertir le chiffre en mébioctets (Mo binaires) : soit 2Go = 2048, 4Go = 4096..."
    type = "select"
    choices = ["1024", "2048", "4096"]
    default = "2048"

    [install.op]
    ask.en = "Enter the administrator name (Minecraft pseudo)"
    ask.fr = "Entrer le nom de l'adminsitrateur (pseudo Minecraft)"
    type = "string"

    [install.password]
    help.en = "Enter the RCON password"
    help.fr = "Entrer le mot de passe RCON"
    type = "password"

[resources]
    [resources.sources]
        [resources.sources.mcrcon]
        url = "https://github.com/Tiiffi/mcrcon/releases/download/v0.7.2/mcrcon-0.7.2-linux-x86-64.tar.gz"
        sha256 = "a61a0585e203688f606ca3a649760b8ba71efca01a4af7687db5e41408ee27aa"
        in_subdir = false

        [resources.sources.paper]
        url = "https://api.papermc.io/v2/projects/paper/versions/1.21.10/builds/117/downloads/paper-1.21.10-117.jar"
        sha256 = "4dab63990686350dbf713f9044991f112cebadb64a44865cd79a5a750b820d91"
        rename = "server.jar"
        in_subdir = false
        extract = false

        [resources.sources.vanilla]
        url = "https://piston-data.mojang.com/v1/objects/45810d238246d90e811d896f87b14695b7fb6839/server.jar"
        sha256 = "f83b8e093865806f931c7e34aae41b177d4c076335263dd124c75d6d65dd1726"
        rename = "server.jar"
        in_subdir = false
        extract = false

    [resources.ports]
    main.default = 25565
    main.exposed = "TCP"
    rconport.default = 25575
    rconport.exposed = "TCP"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]

    [resources.apt]
    packages = "openjdk-17-jre"

    # [resources.apt]
    # packages_from_raw_bash = """
    # debian=$(lsb_release --codename --short)
    # if [[ $debian = "bullseye" ]]; then
    #     echo "openjdk-11-jre";
    # elif [[ $debian = "bookworm" ]]; then
    #     echo "openjdk-17-jre";
    # fi
    # """
